

body {

}

.wrapper{
    width: 90%;
}

/* UNCLAER WHICH PSEUDO CLASS TO USE https://www.w3schools.com/css/css_pseudo_classes.asp */
.nav-coloring:focus {
    color:blue !important
}

.post-date {
    font-size: 14px;
}

.post-likes {
    font-size: 16px;
    margin: 0;
    font-weight:bold ; 
    color: black;
}


.img-grid {
    object-fit: cover;
    height: 370px;
    width: 390px;
}

.single-post-wrapper {
    max-width: 550px;
}

.img-single-post-feed {
    object-fit: cover;
    aspect-ratio: 5 / 4; 
}
